body
 {
	  
	background: url('images/BACKGROUND.jpg');
	font-family: Arial, "Arial Black", "Bauhaus 93", "Berlin Sans FB", Calibri, Consolas;
	font-size: 24px;
	font-style: normal;
	font-weight: normal;
	color: #FFF;
	
}

p{
	text-align: center;
	color: #09F;
	font-size: 24px;
}
 
#header_left {
	font-family: Arial, "Arial Black", "Bauhaus 93", "Berlin Sans FB", Calibri, Consolas;
	font-size: 24px;
	font-style: normal;
	font-weight: normal;
	color: #FFF;
	border-color: #FFF;
	position: relative;
	height: auto;
	width: auto;
	padding: 10px 10px 30px 30px;
	text-align: left;
	float:left;
}

#header_left img{
	 vertical-align: middle;
}

#header_right{
	float: right;
	text-align: right;
	font-family: Arial, "Arial Black", "Bauhaus 93", "Berlin Sans FB", Calibri, Consolas;
	font-size: 24px;
	font-style: normal;
	font-weight: normal;
	color: #999;
	border-color: #FFF;
	position: relative;
	height: auto;
	width: auto;
	padding: 10px 60px 30px 10px;
}

#header{
	border-color: #FFFFFF;
	opacity: 1;
	border-width: medium;
	padding: 20px 20px 20px 20px;
	height:auto;
}

table
{
	border:medium;
	border-color:#FFF;
	
}

#container 
{ 
	clear: both;
	position:relative;
	margin: auto;
	height:auto;
}
  #container  img{
	vertical-align: middle;
	width: auto;
	height: auto;
	margin: 0 auto;
	margin: 0;
	padding: 0;
	text-align: center;
   }
 #left_col
 {
	float: left;
	width: 30%;
	position: relative;
	text-align: right;
	border:medium;
	border-color:#FFF;
	
  } 
 #right_col 
 { 
 	float: right;
	width: 30%;
	position: relative;
	text-align: right;
	border:medium;
	border-color:#FFF;
	
 
 }
 #page_content
 { 
 	margin-left: 30%;
	 margin-right: 30%; 
	 position:relative;
 
 }
 
 #level{
	 alignment-adjust:middle;
 }


#outer1
{
	height:128px;
	width: 128px;
	position: relative;
	z-index:0;
}

#inner1
{

	position: absolute;
	z-index:1;
	bottom: 52%;
	right: 42%;
}
#inner1:hover{
	cursor:hand;
}
#outer2
{
	height:128px;
	width: 128px;
	position: relative;
	z-index:0;
}

#inner2
{
	position: absolute;
	z-index:1;
	bottom: 52%;
	right: 42%;
}
#inner2:hover{
	cursor:hand;
}
#on_off_status:hover{
	cursor:hand;
}
#hold_status:hover{
	cursor:hand;
}
#image{
	margin:100px 100px;
}

 /*
.imgA{ position:absolute; top: 25px; left: 25px; z-index: 1; } 
.imgB { position:absolute; top: 25px; left: 25px; z-index: 3; } */
